@font-face {
    font-family: 'gang_of_threeregular';
    src: url('./scss/fonts/go3v2-webfont.woff2') format('woff2'),
         url('/scss/fonts/go3v2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// style for section headers
.section-header{
    &__title {
        text-align: center;
        font-size: $size-title;
        text-transform: uppercase;
        font-family: 'gang_of_threeregular';
        color: #fff;     
    }
    
    &__subtitle {
        text-align: center;
        font-size: 1rem;
        color: #fff;
        
    }
}

.section-header--shadow {
    text-shadow: 0px 0px 3px rgba(0,0,0,0.88);
}