.about {
    max-width: 80rem;
    margin: $margin-medium * 2 auto;

    .about-media {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .carousel {
            max-width: 48%;
            height: 37.5rem;
            margin: 0;
        }
    
        .articles-about {
            display: flex;
            flex-wrap: wrap;
            width: 48%;
            justify-content: space-between;
            align-items: flex-start;
            
            

            .article {
                width: 100%;
                position: relative;
                min-height: 18rem;
                padding: 1.5rem;
                background-image: url('../../img-min/lampions.jpeg');
                background-position: center;
                background-size: cover;

                &--secondary {
                    width: 48%;
                    margin-top: 1.5rem;
                    
                }

                .article__title {
                    color: #fff;
                    text-shadow: 0px 0px 3px rgba(0,0,0,0.88); 
                    font-size: 1.5rem;
                }

                .article__meta-information {
                    background-color: #fff;
                    color: #22201d;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 1rem;
                    display: inline-block;
                    margin-right: 1rem;
                    font-size: 1rem;
                    margin-top: 1rem;
                }

                .article__btn {
                    @include button-primary;
                    margin: auto 0;
                    padding: 1rem;
                    position: absolute;
                    bottom: 2rem;
                    left: 1.5rem;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
        }
    }

}