.contact {
    max-width: 80rem;
    margin: 0  auto;

    .section-header{
        margin-top: 4rem;
    }
    .contact-details{
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 37.5rem;
        justify-content: space-between;

        @include screen-type(desktop) {
            flex-direction: row;
        }

        .map {
            
            height: 37.5rem;
            background-color: #e5e3df;
            width: 100%;

            @include screen-type(desktop) {
                width: 48%;
            }
        }

        .contact-form {
            margin-top: 2rem;
            height: 37.5rem;
            padding: 3rem 1rem;
            background-image: url('../../img-min/contact/clams.jpeg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            width: 100%;

            flex-direction: column;

            @include screen-type(desktop) {
                margin-top: 0rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: flex-start;
                flex-direction: row;
                width: 48%;
                padding: 6rem 4rem;
            }

            &__name,
            &__email {
                margin-top: 2rem;
                width: 100%;
                @include screen-type(desktop){
                    width: 47%;
                }
            }

            &__message {
                margin-top: 2rem;
                width: 100%;

                textarea {
                    height: 7rem;
                }

                // @include screen-type(desktop){
                //     margin-top: 2rem;
                // }
            }

            &__btn{
                margin: 0 auto;
                margin-top: 2rem; 
                .button {
                    @include button-primary;
                    padding: 1rem;
                    display: inline-block;
                }
            }

            &__name input,
            &__email input,
            &__message textarea{
                width: 100%;
                padding: 1rem;
                border: none;
                border: 1px solid #e5e3df;
            }

            &__name input::placeholder,
            &__email input::placeholder,
            &__message textarea::placeholder {
               text-transform: uppercase;
               color: rgba(0,0,0,0.88);
               font-weight: bold;
            }

            
        }
    }
}