.dishes-menu {
    max-width: 80rem;
    margin: 0  auto;

    .menu-nav {
        // margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   

    

        // @include screen-type(desktop){

        // }
        
    
        &__item{
            text-transform: uppercase;
            list-style: none;
            display: block;
            color:$color-accent;
            margin-bottom: $margin-medium;

            border-right: 1px solid black;
            

    
            @include screen-type(desktop){
                border-right: none;
                margin: $margin-medium;
            }
    

            .link {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                display: block;
                font-size: 1rem;
                padding: $padding-small;
    
                @include screen-type(phone-medium){
                    opacity: 1;
                }
    
                @include screen-type(phone-medium-landscape){
                    padding: $padding-small;
                    font-size: $size-description * 0.7;
                }
            }
            
        }
    
    }
    
    .menu-items {
        max-width: 70rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .item {
            margin-bottom: 6rem;
        }
    }
        
}