.dishes-menu {
    max-width: 80rem;
    margin: 0  auto;

    .menu-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;   
    
    // Finished here
        // @include screen-type(desktop){

        // }
        
    
        &__item{
            text-transform: uppercase;
            list-style: none;
            display: block;
            color:$color-accent;
            margin-bottom: $margin-medium;
    
    
            // @include screen-type(desktop){
                
            // }
    

            .link {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                display: block;
                font-size: $size-description;
                padding: $padding-small;
    
                @include screen-type(phone-medium){
                    opacity: 1;
                }
    
                @include screen-type(phone-medium-landscape){
                    padding: $padding-small;
                    font-size: $size-description * 0.7;
                }
            }
            
        }
    
    }
    
    .menu-mobile__burger {
        display: block;
        margin-left: 1rem;
    
        &:hover {
            cursor: pointer;
        }
    
        .burger__line {
            position: relative;
            height: 3px;
            width: 1.5rem;
            transition: transform 1s;
            background-color: $color-accent;
            margin-top: 5px;
        }
    
        &--toggled{
            .burger__line:first-of-type {
                transform: rotateZ(90deg);
                transform-origin: top left;
                transition: transform 1s;
            }
    
            .burger__line:nth-of-type(2) {
                transform: rotateZ(30deg);
                transform-origin: top left;
                transition: transform 1s;
            }
    
            .burger__line:nth-of-type(3){
                transform: rotateZ(-90deg);
                transform-origin: bottom left;
                transition: transform 1s;
            }
        }
    
        @include screen-type(phone-medium-landscape){
            display: none;
        }
    }
        
}