.main-header{
    max-width: 80rem;
    margin: 0  auto;
    position: relative;

    .section-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        
        text-shadow: 0px 0px 3px rgba(0,0,0,0.88);
        z-index: 1;
    }

    .carousel{
        height: 37.5rem;
    }

    .nav-secondary {
        .menu {
            margin-top: 2rem;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            @include screen-type(tablet-portrait){
                justify-content: center;
            }

            @include screen-type(desktop){
                flex-direction: row;
                justify-content: space-between;
            }

            &__item{
                margin: 0 auto;
                margin-bottom: 2rem;

              
                @include screen-type(tablet-portrait){
                    margin: 1rem;
                }

                @include screen-type(desktop){
                    margin: 0;
                    flex-direction: row;
                    justify-content: space-between;
                }

                position: relative;
                height: 18.75rem;
                width: 18.75rem;
                .link{
                    
                    &__title {
                        color: #fff;
                        text-shadow: 0px 0px 3px rgba(0,0,0,0.88);
                        font-weight: bold;
                        font-size: 1.5rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }

                    &__img {
                        border: 0.5px solid #e8e8e8;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}