@import '../global/variables';

// Variables
	// colors
	$color-main: #ffffff;
	$color-accent: #22201d;


// RELATED TO SCROLL
html {
	scroll-behavior: smooth;
}

/* NAVIGATION START */
body {
	overflow-x: hidden;
}

.nav-top{
	z-index: 3;
	position: relative;
	width: 100vw;
	background-color: $color-main;

	padding: $padding-small $padding-medium;

	@include screen-type(phone-medium){
		flex-wrap: nowrap;
		padding: 0;
	}

	@include screen-type(desktop){
		margin-top: $margin-medium * 4;
	}

	.menu {
		display: flex;
		border-left: 3px solid $color-accent;
		border-bottom: 3px solid $color-accent;
		overflow: hidden;
		transform: translateX(90vw);
		top: 2.5rem;
		right: 0;
		position: absolute;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: $padding-medium;
		height: 93vh;
		width: 80vw;
		justify-content: flex-start;
		align-items: flex-start;
		transition: transform 1s ease-in;
		background-color: $color-main;
	
		@include screen-type(phone-medium){
			height: 90vh;
			flex-wrap: wrap;
		}
	
	
	
		@include screen-type(desktop){
			padding: $padding-medium;
			flex-wrap: nowrap;
			justify-content: center;
			margin-left: $margin-medium;
			transform: translateX(0);
			top:0 ;
			position: relative;
			flex-direction: row;
			height: 100%;
			width: 100%;
			border-left: none;
			border-bottom: none;
		}
	
		@include screen-type(desktop){
			max-width: $section-width-desktop;
			margin:  0 auto;
			border-top: 3px dotted #e8e8e8;
		}
		
	
		&__item{
			text-transform: uppercase;
			position: relative;
			max-width: 15rem;
			opacity: 0;
			background-color: $color-main;
			list-style: none;
			display: block;
			color:$color-accent;
			transition: transform 0.3s ease-in;
			margin-bottom: $margin-medium;
	
			// Hide links on desktop devices
			@include screen-type(desktop){
				margin-bottom: 0;
				margin-right: $margin-small;
				text-align: center;
				opacity: 1;
			}
	
			// @include screen-type(desktop){
				
			// }
	
			&:before{
				
				border-radius: 3px;
				position: absolute;
				content: '';
				background-color: $color-accent;
				background: linear-gradient(to left, $color-accent, darken($color-accent, 30%));
				border: none;
				bottom: -4px;
				left: 30%;
				height: 5px;
				width: 0%;
			}
	
			&:hover::before,
			&:active::before{
				animation: button-load-bottom 0.5s forwards 0s;
			}
	
			.link {
				text-decoration: none;
				color: inherit;
				font-weight: bold;
				display: block;
				font-size: $size-description;
				// min-width: 8rem;
				padding: $padding-small;
	
				@include screen-type(phone-medium){
					opacity: 1;
				}
	
				@include screen-type(phone-medium-landscape){
					padding: $padding-small;
					font-size: $size-description * 0.7;
				}
			}
			
		}
	
	}
	
	.menu-mobile__burger {
		display: block;
		margin-left: 1rem;
	
		&:hover {
			cursor: pointer;
		}
	
		.burger__line {
			position: relative;
			height: 3px;
			width: 1.5rem;
			transition: transform 1s;
			background-color: $color-accent;
			margin-top: 5px;
		}
	
		&--toggled{
			.burger__line:first-of-type {
				transform: rotateZ(90deg);
				transform-origin: top left;
				transition: transform 1s;
			}
	
			.burger__line:nth-of-type(2) {
				transform: rotateZ(30deg);
				transform-origin: top left;
				transition: transform 1s;
			}
	
			.burger__line:nth-of-type(3){
				transform: rotateZ(-90deg);
				transform-origin: bottom left;
				transition: transform 1s;
			}
		}
	
		// Hide hamburger on desktop devices
		@include screen-type(desktop){
			display: none;
		}

	}

}

 


	/* JavaScript function added classes */
	.toggle-mobile-nav{
		transform: translateX(0vw) !important;
		transition: transform 1s ease-in;
	}

	
	@keyframes button-load-bottom {
		0%{
			width: 0%;
		}
	
		100% {
			width: 40%;	
		}	
	} 

	@keyframes linkFading {
		from{
			opacity: 0;
			transform:translateX(100px);
		}
	
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

/* NAVIGATION END */