// @include screen-type(desktop)
.testimonial {
    max-width: 80rem;
    margin: 0  auto;
    border: 0.5px solid #e8e8e8;
    background-image: url('/app/img-min/mobile/testimonial/testimonial.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 5rem;

   .section-header {
       margin-top: 4rem;
       margin-bottom: 4rem
   }

   .carousel {
        border: none;
        width: 18rem;
        @include screen-type(desktop){
            width: 40rem;
        }
        
        &__button {
            top: 50%;
            transform: translateY(-50%);

            @include screen-type(desktop){
            top: 25%;
            // transform: translateY(0%)
         }

        }



        &__track-container {
            height: auto;
            padding-bottom: 2rem;
        }
        
        &__track {
            position: relative;
            min-height: 25rem;
            max-width: 30rem;

            .carousel__slide {
                width: 60rem;

                .single-testimonial{
                    width: 18rem;
                    
                    @include screen-type(desktop){
                        width: 40rem;
                    }

                    &__description {
                        padding: 3rem;
                        @include screen-type(desktop){
                            padding: 3rem 6rem;
                        }

                        font-size: 1.2rem;
                        background-color: #ffffff;
                        
                    }
            
                    &__author{
                        // z-index: 3;
                        // margin-top: 1rem;
                        padding: 0.7rem;
                        font-size: 1rem;
                        display: block;
                        color: #fff;
                        text-align: center;
                        width: 100%;
                        font-weight: bold;
                        text-transform: uppercase;
                        
                        @include screen-type(desktop){
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
   }     
}